<h1>Flight Search</h1>

<% @flights.each do |f| %>
<p>
  <%= f.departure_airport.name %> <br>
  <%= f.arrival_airport.name %> <br>
  </p>
<% end %> 

<%= form_with(url: search_path, method: "get", local: true) do |form| %>
  <div>
    <%= form.label :departure_airport_code, "Departure Airport" %>
    <%= form.select :departure_airport_code, options_from_collection_for_select(@airports, :code, :name), { include_blank: "Select Departure Airport" } %>
  </div>
  <div>
    <%= form.label :arrival_airport_code, "Arrival Airport" %>
    <%= form.select :arrival_airport_code, options_from_collection_for_select(@airports, :code, :name), { include_blank: "Select Arrival Airport" } %>
  </div>


    <div>
    <%= form.label :passengers, "Number of Passengers" %>
    <%= form.select :passengers, options_for_select((1..8).to_a) %>
  </div>
  <%= form.submit 'Search Flights' %>
<% end %>

<%= @flight_params %>
<h1>Search Results:</h1>

<%= form_with url: new_booking_path, method: :get do |f|%>
  <table>
    <thead>
      <tr>
          <th>Select</th>
          <th>Departure Airport</th>
          <th>Arrival Airport</th>
          <th>Start Time</th>
          <th>Duration</th>
        </tr>
    </thead>
  <tbody>
    <% if @search_results.any? %>
      <% @search_results.each do |flight| %>
      <tr>
        <td><%= f.radio_button :flight_id, flight.id %> </td>
        <td><%= flight.departure_airport.code %></td>
        <td><%= flight.arrival_airport.code %></td>
        <td><%= flight.formatted_start_time %></td>
        <td><%= (flight.duration / 60).to_i %>hr <%= flight.duration % 60 %> minutes</td>
      </tr>
      <% end %>

    <% else %>
      <p> No flights match your critera</p>
    <% end %>

    </tbody>
    </table>
    

  <%= f.submit "Select Flight" %>
    <input type="hidden" id="passenger_count" name="passenger_count" value="<%= params[:passengers] %>" />
  <% end %>




