<h1>Flight Search</h1>

<h2>list of flights:</h2>
<% @flights.each do |f| %>
<p>
  <%= f.departure_airport.name %> <br>
  <%= f.arrival_airport.name %> <br>
  <%= f.start_time %> <br>
  <%= (f.duration/60).to_i %>hr <%= f.duration % 60 %> min <br> 
  </p>
<% end %> 

<%= form_with(url: search_path, method: "get", local: true) do |form| %>
  <div>
    <%= form.label :departure_airport_code, "Departure Airport" %>
    <%= form.select :departure_airport_code, options_from_collection_for_select(@airports, :code, :name), { include_blank: "Select Departure Airport" } %>
  </div>
  <div>
    <%= form.label :arrival_airport_code, "Arrival Airport" %>
    <%= form.select :arrival_airport_code, options_from_collection_for_select(@airports, :code, :name), { include_blank: "Select Arrival Airport" } %>
  </div>


    <div>
    <%= form.label :passengers, "Number of Passengers" %>
    <%= form.select :passengers, options_for_select((1..8).to_a) %>
  </div>
  <%= form.submit 'Search Flights' %>
<% end %>


<h1>Search Results:</h1>
<table>
  <th>
    <tr>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Start Time</th>
        <th>Duration</th>
      </tr>
  </th>
<tbody>
  <% if @search_results.any? %>
  <% @search_results.each do |f| %>
  <tr>
    <td><%= f.departure_airport.code %></td>
    <td><%= f.arrival_airport.code %></td>
    <td><%= f.start_time %></td>
    <td> <%= (f.duration/60).to_i %>hr <%= f.duration % 60 %> minutes</td>
  </tr>
  <% end %>
</tbody>
</table>
 
<% else %>
  <p> No flights match your critera</p>
<% end %>
